<% const d = new Date()
let year = d.getFullYear(); %>
<footer class="main">
  <a href="/misc/cause-error">Trigger 500 Error (test)</a>
  <!-- or /error/test depending on your route -->
  <p class="copyright">&copy; <%= year %>, CSE 340 App</p>
</footer>
